Repository Prephouse/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier . --write, eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

.lintstagedrc:

{
  'src/**/*.+(js|jsx|ts|tsx)': [
    "eslint --fix",
    "prettier . --write",
    "stylelint **/*.{js,ts,tsx}"
  ],
  'src/**/*.+(json|toml|yml|yaml)': [
    "prettier . --write"
  ],
  '**/*.md': [
    "prettier . --write"
  ],
  'src/strings/translations/*/index.json': [
    "eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/",
  ]
}

delete unused code
  .eslintrc
  README.md
  package.json
  pnpm-lock.yaml
  src/components/appbar/DarkModeNeon.tsx
  src/components/appbar/NavigationDropdownMenu.tsx
  src/components/appbar/NavigationProfile.tsx
  src/components/common/Neon.tsx
  src/components/common/UserAvatar.tsx
  src/components/user/signup/PasswordStrengthIndicator.tsx
  src/services/prephouse.ts
  src/store.ts
  src/utils/duration.ts
  src/utils/validators.ts
Due: prettier . --write

refactor testing environment
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/libs/query.ts
  src/libs/test.tsx
  src/utils/math.test.ts
  src/utils/string.test.ts
Due: none

update readme
  README.md
Due: prettier . --write

remove dockerfile
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yml
  package.json
Due: prettier . --write

Enable incremental typescript builds (#88)
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

update gitignore
  .gitignore
Due: none

Fix memory leak in the media input state (#89)
  pnpm-lock.yaml
  src/components/common/MediaRecorder.tsx
  src/components/common/PermissionManager.tsx
  src/components/practice/PracticeSettings.tsx
  src/components/practice/media/AudioRecordZone.tsx
  src/components/practice/media/VideoRecordZone.tsx
Due: none

Add support for node 17 (#94)
  README.md
  package.json
  pnpm-lock.yaml
  src/components/appbar/PrephouseAppBar.tsx
  src/components/appbar/hamburger/NavigationHamburgerMenu.tsx
  src/strings/translations/en-US/index.json
Due: prettier . --write, eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

[AUTH] Federated Identity Provider (#93)
  public/images/idp/facebook.svg
  public/images/idp/google.svg
  src/components/App.tsx
  src/components/appbar/profile/NavigationDropdownMenu.tsx
  src/components/appbar/profile/NavigationProfile.tsx
  src/components/common/IdpAuthButton.tsx
  src/components/common/form/FormGroupCompact.tsx
  src/components/navigation/PrivateRoute.tsx
  src/components/user/signin/SignIn.tsx
  src/components/user/signup/SignUp.tsx
  src/libs/query.ts
  src/services/firebase.ts
  src/services/prephouse.ts
  src/states/auth/actions.ts
  src/states/auth/reducer.ts
  src/store.ts
  src/strings/translations/en-US/index.json
  src/styles/colours.ts
  src/values/appbar/profileActions.ts
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Upgrade dependencies (#98)
  .lintstagedrc
  .stylelintrc
  README.md
  package.json
  pnpm-lock.yaml
  public/index.html
  src/store.ts
Due: prettier . --write

add chart.js dependency
  package.json
  pnpm-lock.yaml
Due: none

Create leaderboard view (#100)
  src/components/App.tsx
  src/components/common/HorizontalCard.tsx
  src/components/common/IdpAuthButton.tsx
  src/components/common/form/FormButtons.tsx
  src/components/compare/Compare.tsx
  src/components/leaderboard/Leaderboard.tsx
  src/components/practice/steps/PracticeSettings.tsx
  src/libs/query.ts
  src/schemas/leaderboard/leaderboardOverviewSchema.ts
  src/schemas/leaderboard/leaderboardSchema.ts
  src/services/prephouse.ts
  src/strings/paths.ts
  src/strings/translations/en-US/index.json
  src/values/appbar/navigationDestinations.ts
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Fix pre-commit hook (#102)
  .husky/pre-commit
  .huskyrc
  package.json
  pnpm-lock.yaml
Due: none

Integrate Question BE endpoint (#101)
  src/schemas/question/questionSchema.ts
  src/services/prephouse.ts
Due: none

Fix Refresh bug for private routes (#105)
  src/components/App.tsx
  src/states/auth/reducer.ts
Due: none

Progress Tracking View (#104)
  src/components/App.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/progress/Progress.tsx
  src/index.tsx
  src/schemas/progress/scoresPerCategorySchema.ts
  src/schemas/question/questionSchema.ts
  src/services/prephouse.ts
  src/strings/paths.ts
  src/strings/translations/en-US/index.json
  src/styles/colours.ts
  src/utils/string.ts
  src/values/appbar/navigationDestinations.ts
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Fix refresh bug 2 (#106)
  src/components/App.tsx
  src/libs/query.ts
  src/services/firebase.ts
Due: none

add past sessions (#111)
  src/components/progress/Progress.tsx
  src/components/progress/ProgressGraph.tsx
  src/components/progress/ProgressTable.tsx
  src/schemas/progress/scoresPerCategorySchema.ts
  src/services/prephouse.ts
  src/strings/translations/en-US/index.json
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Specify supported colour schemes (#113)
  .prettierignore
  public/index.html
Due: none

Create question bank (#112)
  src/components/App.tsx
  src/components/bank/Bank.tsx
  src/components/common/form/ChipInput.tsx
  src/components/tips/Tips.tsx
  src/schemas/question/questionCategoriesSchema.ts
  src/schemas/question/questionSchema.ts
  src/services/prephouse.ts
  src/strings/paths.ts
  src/strings/translations/en-US/index.json
  src/styles/themes.ts
  src/values/appbar/navigationDestinations.ts
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Fix category filter on refresh of the question bank (#116)
  public/index.html
  src/components/bank/Bank.tsx
Due: none

Create homepage (#118)
  src/components/home/Home.tsx
  src/strings/translations/en-US/index.json
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Integrate continuous deployment on production environment (#119)
  README.md
  netlify.toml
  package.json
  pnpm-lock.yaml
  src/components/practice/steps/PracticeSettings.tsx
  src/components/support/bugreport/AppBugReport.tsx
  src/components/support/feedback/AppFeedback.tsx
  src/components/user/signin/SignIn.tsx
  src/components/user/signup/SignUp.tsx
  src/utils/zodFormikAdapter.ts
Due: prettier . --write

initial commit for enabling interview per question (#107)
  public/images/members/mivia-li.jpg
  src/components/practice/steps/PracticeSettings.tsx
  src/schemas/practice/practiceFormSchema.ts
  src/states/practice/actions.ts
  src/states/practice/enums.ts
  src/states/practice/reducer.ts
  src/strings/translations/en-US/index.json
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Notify rollbar of production deployments (#120)
  .github/workflows/deployment.yml
Due: none

Fix user bug (#122)
  src/components/App.tsx
Due: none

Remove live feedback option (#123)
  src/components/home/Home.tsx
  src/components/leaderboard/Leaderboard.tsx
  src/components/practice/steps/PracticeSettings.tsx
  src/components/progress/ProgressTable.tsx
  src/components/support/bugreport/AppBugReport.tsx
  src/components/support/feedback/AppFeedback.tsx
  src/components/user/signin/SignIn.tsx
  src/components/user/signup/SignUp.tsx
  src/libs/test.tsx
  src/schemas/practice/practiceFormSchema.ts
  src/states/practice/actions.ts
  src/states/practice/reducer.ts
  src/strings/translations/en-US/index.json
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Warn users of simultaneous recording sessions (#124)
  src/components/common/dialog/ConfirmationDialog.tsx
  src/components/practice/Practice.tsx
  src/strings/translations/en-US/index.json
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Integrate Front-End with AWS and BE API Call for Upload Videos and Audio to S3 (#103)
  package.json
  pnpm-lock.yaml
  src/components/practice/media/AudioRecordZone.tsx
  src/components/practice/media/VideoRecordZone.tsx
  src/index.tsx
  src/libs/aws.ts
  src/schemas/upload/uploadQuestionSchema.ts
  src/services/prephouse.ts
Due: none

Initial Session Page (#131)
  src/components/App.tsx
  src/components/leaderboard/Leaderboard.tsx
  src/components/progress/Progress.tsx
  src/components/progress/ProgressChart.tsx
  src/components/progress/ProgressTable.tsx
  src/components/session/ScoreChart.tsx
  src/components/session/Session.tsx
  src/schemas/progress/scoresPerCategorySchema.ts
  src/schemas/session/sessionSchema.ts
  src/services/prephouse.ts
  src/strings/paths.ts
  src/strings/translations/en-US/index.json
  src/styles/colours.ts
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Write up practice instructions (#133)
  package.json
  pnpm-lock.yaml
  src/components/practice/steps/PracticeInstructions.tsx
  src/schemas/upload/uploadInstructionsSchema.ts
  src/services/prephouse.ts
  src/utils/string.ts
Due: none

Create favicon (#134)
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/licenses/favicon.txt
  public/logo192.png
  public/logo512.png
  src/strings/translations/en-US/index.json
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Delete unused variables in the practice session (#136)
  src/components/practice/media/AudioRecordZone.tsx
  src/components/practice/media/VideoRecordZone.tsx
Due: none

Fix rollbar deploy action version (#140)
  .github/workflows/deployment.yml
Due: none

Remove the Interview Type Section (#139)
  src/components/practice/steps/PracticeSettings.tsx
  src/schemas/practice/practiceFormSchema.ts
  src/states/practice/actions.ts
  src/states/practice/enums.ts
  src/states/practice/reducer.ts
  src/strings/translations/en-US/index.json
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Video playback (#141)
  src/components/common/media/VideoPreview.tsx
  src/components/session/Playback.tsx
  src/components/session/Session.tsx
  src/schemas/session/sessionSchema.ts
  src/strings/translations/en-US/index.json
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Implement upload type on FE (#142)
  src/components/common/form/FormButtons.tsx
  src/components/practice/steps/PracticeSettings.tsx
  src/states/practice/actions.ts
  src/states/practice/reducer.ts
  src/strings/translations/en-US/index.json
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/

Implement a fallback error dialog for practice sessions (#137)
  package.json
  pnpm-lock.yaml
  src/components/common/dialog/ConfirmationDialog.tsx
  src/components/practice/ErrorDialog.tsx
  src/components/practice/Practice.tsx
  src/strings/translations/en-US/index.json
Due: eslint --no-eslintrc --config .eslintrc.i18n.js --fix --ext .json --format node_modules/eslint-plugin-i18n-json/formatter.js src/strings/translations/
